<a href="/" style="text-decoration: none; margin-right: 30px; color: inherit; font-weight: 600;">Accueil</a>
<a href="/services.html" style="text-decoration: none; margin-right: 30px; color: inherit;">Services</a>
<a href="/pricing.html" style="text-decoration: none; margin-right: 30px; color: inherit;">Tarifs</a>
<a href="/about.html" style="text-decoration: none; margin-right: 30px; color: inherit;">À propos</a>
<a href="/contact.html" style="text-decoration: none; margin-right: 30px; color: inherit;">Contact</a>
<a href="/blog.php" style="text-decoration: none; color: inherit;">Blog</a>